@import url('Index-Style.css');

.asp-lbl-system-onoff--layout {
    font-family: var(--header-font);
}

.asp-lbl-email--layout {
    padding: 0px 3px 2px 3px;
    font-family: var(--body-font);
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
}

.asp-lbl-time--layout {
    font-family: var(--header-font);
    font-size: 3.8rem;
}

.asp-lbl-date--layout {
    font-family: var(--header-font);
    font-size: 1.4rem;
}

.asp-btn--layout {
    width: 100px;
    height: 35px;
    font-family: var(--header-font);
    font-weight: 600;
    font-size: .95rem;
}

.asp-dept-img--layout {
    width: 230px;
    height: 230px;
}

.asp-fieldset-time--layout {
    font-size: 2.5rem;
}

.asp-section-top__dept_icon--layout {
    width: 40px;
    height: 40px;
}

.asp-section-top-dept-acronym {
    font-family: var(--body-font);
    font-size: 1.3rem;
    font-weight: bold;
}

.asp-section-top-dept-meaning {
    font-family: var(--body-font);
    font-size: .75rem;
    font-weight: bold;
}
