@import url('Index-Style.css');

section.phone-size {
    display: block;
}

section.tablet-size, section.main-content {
    display: none;
}

@media only screen and (min-width: 768px) {
    section.phone-size {
        display: none;
    }

    section.tablet-size {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    section.main-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    section.phone-size, section.tablet-size {
        display: none;
    }

    header.header--layout {
        height: 10vh;
        padding: 0px 0px 0px 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: var(--header-font);
        gap: 5px;
    }

    img.header--logo-layout {
        width: var(--ctu-logo-width);
        height: var(--ctu-logo-height);
    }

    div.header__ctu-text--layout {
        display: flex;
        flex-direction: column;
    }

    h4.header--reservation-layout {
        font-weight: 600;
    }

    main.main--layout {
        width: 100%;
        height: 87vh;
        display: flex;
        flex-direction: row;
    }

    aside.aside-left--layout {
        width: 30%;
        padding: 10px;
    }

    section.section-left--layout {
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: 1px solid #000000;
    }

    div.aside-left__notification--layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    aside.aside-right--layout {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    section.section-top--layout, section.section-bottom--layout {
        height: 50%;
        padding: 10px;
    }

    section.section-top-main--layout {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    section.section-bottom-main--layout {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    footer.footer--layout {
        height: 3vh;
    }
}
