@media only screen and (min-width: 1024px) {
    header.header-content {
        justify-content: space-between;
        gap: 0px;
    }

    section.header-divided-left {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #ctu-danao-logo {
        width: 60px;
        height: 60px;
    }

    #header-text {
        font-size: .70em;
    }

    #ctu-location-text {
        font-size: .60em;
    }

    #ctu-library-text {
        font-size: .50em;
    }

    .user-admin {
        font-family: var(--bold-font);
        font-weight: bold;
    }

    main.main-content {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: normal;
        gap: 0px;
        width: 100%;
        height: 100%;
    }

    section.left-main-section {
        width: 35%;
        padding: 15px;
    }

    section.middle-main-section {
        width: 30%;
        padding: 15px 0px 15px 0px;
    }

    section.right-main-section {
        width: 35%;
        padding: 15px;
    }

    div.section-main-content {
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        background-color: #1A3552;
        box-shadow: 3px 3px 7px #000000;
        border-radius: 10px;
    }

    section.room-title {
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    img.icon {
        width: 60px;
        height: 60px;
    }

    h3.discussion-layout {
        font-family: var(--bold-font);
        font-size: 1em;
    }

    section.room-main-view {
        height: 60%;
        background-color: #313131;
    }

    section.room-queue-view {
        height: 30%;
        background-color: #464646;
    }
}
